<div>
	<h1>
		Search for an email
	</h1>
	<div>
		<input ng-model="query" class="form-control col-xs-4" placeholder="Search for email">
		<button class="btn btn-success" ng-click="search()">Search</button>
		<button class="btn btn-success" ng-click="show_all()">Show All</button>
		<button class="btn btn-success" ng-click="show_all({confirmed: true})">Show All Confirmed</button>
		<button class="btn btn-success" ng-click="show_all({confirmed: false})">Show All Non-Confirmed</button>
		<br><button class="btn btn-success" ng-click="search_results = []">Clear</button>
	</div>
	<br>
	<div class="results" ng-repeat="user in search_results">
		<p>Email: <b>{{user.email}}</b></p>
		<p>Status: 
			<b ng-show="user.status == 1 || user.status == '1'">
				Waiting for Confirmation, havn't launch the app.
			</b>
			<b ng-show="user.status == 2 || user.status == '2'">
				Waiting for Confirmation, launched the app</b>
			<b ng-show="user.status == 3 || user.status == '3'">Confirmed</b>
		</p>
		<p ng-show="user.confirmed">
			Confirmed by: <b>{{user.confirmed_by | date: 'MMM d, y h:mm:ss a'}}</b>
		</p>
		<p ng-show="user.confirmed">
			Confirmed at: <b>{{user.confirmed_at | date: 'MMM d, y h:mm:ss a'}}</b>
		</p>
		<p>Created at: <b>{{user.created_at | date: 'MMM d, y h:mm:ss a'}}</b></p>
		<p ng-show="user.uuids.length > 0" ng-repeat="uuid in user.uuids">
			Device: <b>{{uuid}}</b><br>
			<span ng-show="user.uuid_added_at[$index]">Added at: <b>{{user.uuid_added_at[$index] | date: 'MMM d, y h:mm:ss a'}}</b>
			</span>
		</p>
		<button ng-show="!user.confirmed" class="btn btn-danger" ng-click="confirm(user._id)">Confirm User</button>
		<hr>
	</div>
</div>
<div>
	<h1>
		Pending Requests
	</h1>
</div>
<div>
	<h1>
		Confirm Requests
	</h1>
</div>


